/* START : header media query */

@media screen and (max-width:1240px) and (min-width:500px) {

     .header__menu-mobile {
        display:block;

 }

 .header__menu 
  .header__auth  {

      display: block; 
 }
    
   

    

    
}
